<div class="pokemon-block pokemon-view affix">
    <img src="http://pokeapi.co/media/img/{{model.id}}.png ">
    <h3>{{model.name}}</h3>
    <p>abilities: {{model.abilities}}</p>
    <p>Type: {{model.type}}</p>
    <p>attack: {{model.attack}}</p>
    <p>defense: {{model.defense}}</p>
</div>
{{yield}}
